.MyOrders {
    .divider-reached {
        transform: translate(-50% , -50%);
    }
}


@media only screen and (max-width: 767px) {

        .single-order-section-right  {
            flex-direction: column;
            align-items: baseline;
            .left-image-description-section  {
                flex-direction: column;
                align-items: baseline;
                gap: 10px
            }
        }


   
}


@media only screen and (max-width: 574px) {
        .MyOrders {
            .profile-page-form-section  {
                padding: 0px 20px !important;
            }
        }
        .top-order-detail-backsec {
            flex-direction: column;
            gap: 15px 0px !important;
            align-items: baseline;
            padding: 20px 20px !important;
            margin-bottom: 20px !important;
        }
        .top-order-destination-section  {
            padding: 0px !important;
            border: none !important;
            .divider-reached  {
                left: 20px !important;
            }
            .right-pickup-details-section {
                h6 {
                    font-size: 16px;
                }
            }
        }
        .order-details-address-sec {
            margin-top: 15px !important;
        }
}

@media only screen and (max-width: 474px) {
        .MyOrders {
            .profile-page-form-section  {
                padding: 0px 0px !important;
            }
        }
        .top-order-detail-backsec {
            padding: 0px 0px !important;
        }
    .profile-page-form-section {
        .inner-login-form-sec  {
            gap: 24px 0px;
            .inner-input-section  {
                input {
                    padding: 8px 15px;
                    border-radius: 8px;
                    font-size: 16px;
                }
            }
        }

        .form-inputsec {
            grid-column: span 12 / span 12;
        
        }
        .gender-section-outer-flex {
            flex-direction: column;
            align-items: baseline;
            gap: 12px 0px;
        }
    }
    .inner-addressbg-section  {
        padding: 30px 0px;
    }
}