.MyProfile {
    .email-input-icon {
        transform: translate(-50% , -50%);
    }
}



.left-mobile-side-bar-section {
    display: none;
}


@media only screen and (max-width: 474px) {
    .profile-page-form-section {
        .inner-login-form-sec  {
            gap: 24px 0px;
            .inner-input-section  {
                input {
                    padding: 8px 15px;
                    border-radius: 8px;
                    font-size: 16px;
                }
            }
        }
        .form-inputsec {
            grid-column: span 12 / span 12;
        
        }
        .gender-section-outer-flex {
            flex-direction: column;
            align-items: baseline;
            gap: 12px 0px;
        }
    }
    .inner-right-profile-section  {
        padding: 20px;
    }
    .inner-profilebg-section  {
        padding: 30px 0px;
    }
}