.Footer {
    background: #101010;
    .menu-navigation-section {
        a {
            transition: 0.5s;
        }
        a:hover {
            background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            animation: gradient 5s linear infinite;
        }
    }
}

@keyframes linksgradient {
    0% {
        background-position: right center;
    }
    50% {
        background-position: left center;
    }
    100% {
        background-position: right center;
    }
  }

@media only screen and (max-width: 991.90px) {
    .footer-main-grid-section {
        gap: 40px 0px;
    }
    .bio-logo-section , .right-side-footer-menu-part {
        grid-column: span 12 / span 12;
    }
}

@media only screen and (max-width: 678.90px) {
    .footer-menu-handler-grid {
        gap: 40px 0px;
    }
    .menu-navigation-section {
        grid-column: span 3 / span 3;
        padding: 0px !important;
    }
}



@media only screen and (max-width: 474px) {
    .menu-navigation-section {
        grid-column: span 6 / span 6;
        padding: 0px !important;
    }
    .footer-logo-desc  {
        width: 100% !important;
    }
    .copyright-inner  {
        p {
            font-size: 14px !important;
        }
    }
}