.Home {
    background: #101010;
    .home-section-1 {
        // .right-abs-like-cart-section {
        //     button {
        //         transform: scale(1);
        //         &:active {
        //             transform: scale(0.8) !important;
        //         }
        //     }
        // }
    }

    .banner-headingsec {
        h1 {
            span {
                background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 100%;
                animation: gradient 5s linear infinite;
            }
        }
    }
    .banner-left-part-home-3 {
        h2 {
            span {
                background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 100%;
                animation: gradient 5s linear infinite;
            }
        }
    }
}

    .similar-cart-buttons {
        button {
            transform: scale(1);
            transition-duration: 0.3s;
            &:active {
                transform: scale(0.8) !important;
            }
        }
    }

    .inner-banner-section-home-3 {
        // background: url('../../assets/images/home-offer-blk-bg.svg') #101010;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }





@keyframes gradient {
    0% {
        background-position: right center;
    }
    50% {
        background-position: left center;
    }
    100% {
        background-position: right center;
    }
    }