.Contactus {
    .right-social-info {
        h6 {
            background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            animation: gradient 5s linear infinite;
        }
    }
}




@keyframes gradient {
    0% {
        background-position: right center;
    }
    50% {
        background-position: left center;
    }
    100% {
        background-position: right center;
    }
  }




  @media only screen and (max-width: 574.90px) {
    .contact-section-1 {
        .contact-form-section {
            .inner-contact-form-heading-section  {
                h2 {
                    font-size: 28px;
                }
            }
        }
    }
    .contact-section-1 {
        .inner-login-form-sec  {
            gap: 25px 0px;
            .form-inputsec  {
                grid-column: span 12 / span 12;
            }
            .login-submit-button {
                grid-column: span 10 / span 10;
            }
        }
    }

  }


  @media only screen and (max-width: 474.90px) {
    .contact-section-1 {
        .contact-form-section {
            .inner-contact-form-heading-section  {
                h2 {
                    font-size: 20px;
                }
                img {
                    display: none;
                }
            }
        }
    }
    
  }