.SingleProduct {
    // .bottom-tab-active-section {
    //     transform: translate(-50% ,-0%);
    // }
}



.about-accordion {
    margin-bottom: 10px;
    overflow: hidden;
    padding: 30px 0px;
    border-bottom: 1px solid #a7a7a7;
    transition: all 0.3s ease;
  }
  .about-accordion:last-child {
    border-bottom: none !important;
  }
  
  
  .about-accordion-header {
    background-color: transparent;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .about-accordion-header h2 {
    color: #000;
    font-size: 22px;
    font-weight: 500;
  }
  
  .about-accordion-content {
    overflow: hidden;
    max-height: 0;
    margin-top: 15px !important;
    transition: max-height 0.5s ease;
  }
  
  .about-accordion-content p {
    color: #000;
    font-size: 18px;
  }

  .plus-icon-1 ,.plus-icon-2 {
    transform: translate(-50% , -50%);
    transform-origin: center;
    transition: 0.6s;
  }
  
  .plus-icon-2.activer-plus {
    height: 0px;
  }

.right-button {
    transition: 0.6s ;
  }

  .right-button.activer-plus {
    transform: rotate(180deg);
  }


    @media only screen and (max-width: 991.90px) {
    .single-product-grid-section-1 {
      .product-show-case-grid  {
        gap: 20px 40px;
      }
      .left-product-showcase-section , .right-product-info-section {
        grid-column: span 12 / span 12;
      }
    }
    .product-info-tags  {
      .single-product-info-tag {
        grid-column: span 2 / span 2;
      }
    }
  }


  @media only screen and (max-width: 674.90px) {
    .single-product-grid-section-1 {
      gap: 40px 0px;
      .product-show-case-grid  {
        gap: 20px 0px;
      }
    }
    .single-rating-profile  {
      grid-column: span 6 / span 6;
    }
    .product-show-case-grid {
      .thumbnails-section-product {
        grid-column: span 12 / span 12;
      }
      .thumbnail-section-1 {
        order: 2;
        .all-thumbs-group-section {
          flex-direction: row;
          gap: 20px 20px ;
          justify-content: left;
          flex-wrap: wrap;
        }
      }
      .thumbnail-section-2 {
        order: 1;
      }
    }
    .add-cart-button-section {
      .quantity-column-sec , .right-add-cart-button{
        grid-column: span 6 / span 6 !important;
        .qunatity-selector {
          width: fit-content;
        }
      }
    }
    .single-tab-button {
      button {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .faqs-tabs-desc {
      width: 100% !important;
    }
    .about-accordion-content p{
      font-size: 16px;
    }
    .about-accordion-header h2 {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 574px) {
    .prod-head {
      h2 {
        font-size: 24px;
        line-height: 34px;
      }
    }
    .actual-offer-price {
      h3 {
        font-size: 30px;
      }
    }
    .right-product-info-section  {
      .product-decription { 
        p {
          font-size: 16px;
          font-weight: 400;
        }

      }
    }
    .product-info-tags  {
      .single-product-info-tag {
        grid-column: span 3 / span 3;
      }
    }
    .single-rating-profile  {
      grid-column: span 12 / span 12;
    }
  }

  @media only screen and (max-width: 400px) {
     .add-cart-button-section {
      .quantity-column-sec , .right-add-cart-button{
        grid-column: span 12 / span 12 !important;
      }
    }
    .small-thumnails-section {
      height: 100px !important;
      border-width: 1px !important;
      border-radius: 10px !important;
    }
  }